@page "/login"

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@inject ILoginViewModel vm

<h1>Log In</h1>

@if (vm.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        <p>@vm.ErrorMessage</p>
    </div>
}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">Please log in using your account information</h5>

        <EditForm Model="vm.UserLogin" OnValidSubmit="vm.Login">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <SfTextBox Placeholder="Username" FloatLabelType="@FloatLabelType.Auto" Id="username" @bind-Value="vm.UserLogin.Name"></SfTextBox>
                </div>
                <ValidationMessage For="@(() => vm.UserLogin.Name)" />
            </div>
            <div class="form-group">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <SfTextBox Placeholder="Password" FloatLabelType="@FloatLabelType.Auto" Id="password" @bind-Value="vm.UserLogin.Password" Type="InputType.Password"></SfTextBox>
                </div>
                <ValidationMessage For="@(() => vm.UserLogin.Password)" />
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <SfButton IsPrimary="true" Disabled="vm.IsRunning">Login</SfButton>
            </div>
        </EditForm>
    </div>
</div>