@page "/register"

@inject ILoginViewModel vm

    <style>
        .card {
            justify-content: center;
            width: auto;
            margin: 5% 30%;
        }

        .mat-h2 {
            text-align:center;
            margin-top: 10%;
        }

        .mat-h5 {
            text-align: center;
            margin-bottom: 5%
        }
        .mat-button{
            width:20%;
            margin: 2% 40%;
        }
    </style>

<MatH2 Class="mat-h2">Register</MatH2>

@if (vm.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @vm.ErrorMessage
    </div>
}

<div class="card">
    <div class="card-body">
        <MatH5 Class="card-title">Please enter your details</MatH5>
        <EditForm Model="vm.User" OnValidSubmit="vm.Register">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <ValidationMessage For="@(() => vm.User.Name)" />
            <MatTextField Outlined="true" @bind-Value="vm.User.Name" Label="Username" ValidationDisabled="true" FullWidth="true"></MatTextField>

            <ValidationMessage For="@(() => vm.User.Email)" />
            <MatTextField Outlined="true" @bind-Value="vm.User.Email" Label="Email" ValidationDisabled="true" FullWidth="true"></MatTextField>

            <ValidationMessage For="@(() => vm.User.Password)" />
            <MatTextField Outlined="true" @bind-Value="vm.User.Password" Label="Password" ValidationDisabled="true" Type="password" FullWidth="true"></MatTextField>

            <ValidationMessage For="@(() => vm.ConfirmPassword)" />
            <MatTextField Outlined="true" @bind-Value="vm.ConfirmPassword" Label="Confirm Password" ValidationDisabled="true" Type="password" FullWidth="true"></MatTextField>

            <MatButton Type="submit" Disabled="vm.IsRunning">Submit</MatButton>
            
        </EditForm>
    </div>
</div>
