@page "/customers"

@inject ICustomersViewModel CustomersViewModel
@inject IEditCustomerViewModel EditCustomerViewModel
@inject IMatToaster Toaster

@attribute [Authorize]

<style>
    .mdc-table {
        width: 100%;
        height: auto;
    }

    .mdc-table th, .mdc-table td {
        text-align: center;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
        height: auto;
        padding: 2% 10%;
    }

    .row {
        margin: 10px 0;
    }

    .mdc-select {
        width: 100%;
    }

    .mdc-text-field {
        width: 100%;
    }

    .mdc-dialog__title {
        text-align: center;
    }
</style>

<MatH2>Customers</MatH2>

@if (CustomersViewModel.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        <MatBody2>@CustomersViewModel.ErrorMessage</MatBody2>
    </div>
}

<div class="row">
    <MatButton Outlined="true" OnClick="EditCustomerViewModel.OpenNewDialog">Add Customer</MatButton>
    <MatButton Outlined="true" OnClick="CustomersViewModel.Refresh">Refresh</MatButton>
</div>

@if (CustomersViewModel.IsRunning == true)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatTable Items="CustomersViewModel.CustomersList" Striped="true" PageSize="10" ShowPaging="false">
        <MatTableHeader>
            <th>Name</th>
            <th>Edit Customer</th>
            <AuthorizeView Roles="2">
                <Authorized>
                    <th>Delete Customer</th>
                </Authorized>
            </AuthorizeView>
        </MatTableHeader>

        <MatTableRow>
            @{var customer = context;}
            <td>@customer.Name</td>
            <td>
                <MatButton OnClick="() =>EditCustomerViewModel.OpenEditDialog(customer)">Edit</MatButton>
            </td>
            <td>
                <MatButton OnClick="() => CustomersViewModel.OpenDeleteDialog(customer.Id)">Delete</MatButton>
            </td>
        </MatTableRow>

    </MatTable>

    <Pagination TotaPagesQuantity="CustomersViewModel.TotalPageQuantity" CurrentPage="CustomersViewModel.CurrentPage" Radius="2"
                SelectedPage="CustomersViewModel.SelectedPage"></Pagination>

    #region NewCustomerModal
    <MatDialog @bind-IsOpen="EditCustomerViewModel.NewDialogIsOpen">
        <MatDialogTitle>New Customer</MatDialogTitle>
        <MatDialogContent>
            <EditForm Model="@EditCustomerViewModel.Customer" OnValidSubmit="@AddCustomer">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row">
                    <MatTextField Outlined="true" @bind-Value="EditCustomerViewModel.Customer.Name" Label="Customer Name" ValidationDisabled="true"></MatTextField>
                </div>          

                <div class="row">
                    <MatButton Type="Primary">Add Customer</MatButton>
                    <MatButton @onclick="@EditCustomerViewModel.Cancel"> Cancel</MatButton>
                </div>
            </EditForm>
        </MatDialogContent>
    </MatDialog>
    #endregion

    #region EditCustomerModal
    <MatDialog @bind-IsOpen="EditCustomerViewModel.EditDialogIsOpen">
        <MatDialogTitle>Edit Customer</MatDialogTitle>
        <MatDialogContent>
            <EditForm Model="@EditCustomerViewModel.Customer" OnValidSubmit="@EditCustomerViewModel.SaveChanges">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row">
                    <MatTextField Outlined="true" @bind-Value="EditCustomerViewModel.Customer.Name" Label="Customer Name" ValidationDisabled="true"></MatTextField>
                </div>                

                <div class="row">
                    <MatButton Type="Primary">Save Changes</MatButton>
                    <MatButton @onclick="@EditCustomerViewModel.Cancel"> Cancel</MatButton>
                </div>
            </EditForm>
        </MatDialogContent>
    </MatDialog>
    #endregion

    #region DeleteCustomerModal
    <MatDialog @bind-IsOpen="CustomersViewModel.DeleteDialogIsOpen">
        <MatDialogTitle>Confirm Delete</MatDialogTitle>
        <MatBody2>Are you sure you would like to delete this customer?</MatBody2>
        <MatButton OnClick="CustomersViewModel.DeleteEntity">Confirm</MatButton>
        <MatButton OnClick="CustomersViewModel.CancelDelete">Cancel</MatButton>
    </MatDialog>
    #endregion

}


@code {
    int totalPages;

    protected override async Task OnInitializedAsync()
    {
        await CustomersViewModel.Initialization;
    }

    private async Task AddCustomer()
    {
        // Attempts to add customer to database
        bool success = await EditCustomerViewModel.SaveNewEntity();

        // Displays toast notification if successful
        if (success == true)
        {
            Toaster.Add("New customer added successfully", MatToastType.Success, "Add Customer");
        }
    }
}
