@page "/editjob/"

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns

@inject IEditJobViewModel vm

<div class="simple-form">
    @if (vm.ErrorMessage != null)
    {
        <p>@vm.ErrorMessage</p>
    }

    <EditForm Model="@vm.JobDto" OnValidSubmit="@vm.SaveChanges">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <SfTextBox Placeholder="Quote Number" FloatLabelType="@FloatLabelType.Auto" Id="quoteNumber" @bind-Value="vm.JobDto.QuoteNumber"></SfTextBox>
            <SfTextBox Placeholder="Job Number" FloatLabelType="@FloatLabelType.Auto" Id="jobNumber" @bind-Value="vm.JobDto.JobNumber"></SfTextBox>

            <SfDropDownList TItem="@Project" TValue="int?" DataSource="@vm.Projects"
                            Placeholder="Select Project" Index="@vm.StartingIndex"
                            FloatLabelType="@FloatLabelType.Auto">
                <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
            </SfDropDownList>

        </div>
        <SfButton IsPrimary="true">Save Changes</SfButton>
    </EditForm>

    <SfButton @onclick="@vm.Cancel" class="btn btn-secondary">Cancel</SfButton>

</div>

@code{

    [Parameter]
    public int Id { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModalInstance { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await vm.InitializeAsync(Id, BlazoredModalInstance);
    }
}
